Q1. How do you comment code in Python? What are the different types of comments?

In Python, you can add comments to your code to provide explanations, notes, or to temporarily disable certain code segments. Comments are ignored by the Python interpreter and do not affect the execution of the program.

There are 2 types of comments in Python:
    
a) Single line comment:
    
To add a single-line comment in Python, you can use the hash symbol (#). Anything after the hash symbol on the same line will be considered a comment. Here's an example:

In [5]:
 ## Sabreen is Persuing Data science Course

Above Comment is the example of single line comment

b). Multi-line Comment:
    To add a multi-line comment in python we can use #. anything after the hash in every single line will be considered as multiple-line comment. for example:-

In [11]:
# My name is Sabreen
# I have recently Completed my graduation in B.com
# Then I got Selected for BYjus as a BDA, I worked there for a quite time
# Then I realized that sales is not the field which Iam looking for
# That's why I decided to persue Data Science Masters
# Now I will work Hard and will explore new things to become a perfect data scientist in upcoming days

Q2. What are variables in Python? How do you declare and assign values to variables?

In Python, variables are used to store and manipulate data. A variable is a named reference to a value, allowing you to access and modify the value throughout your program.

To declare and assign a value to a variable in Python, we simply use the assignment operator (=).

example:-

Festival = "ramzan"
In this example, a variable named 'Festival' is declared and assigned the value 'ramazn'. After this line of code, 'Festival' holds the value 'ramzan'.

Q3. How do you convert one data type to another in Python?

In Python, we can convert one data type to another using type conversion functions. For example:

In [12]:
num_1 = 50

In [13]:
my_str= str(num_1)

In [14]:
my_str

'50'

Example 2:

In [21]:
my_list = [23,60,78,45, 78.90]

In [23]:
my_tuple = tuple(my_list)

In [24]:
my_tuple

(23, 60, 78, 45, 78.9)

Example 3:

In [31]:
sabr = 1

In [33]:
kouser = bool(sabr)

In [36]:
kouser

True

Above are the some examples of Converting one data type into another data type in python.

Q4. How do you write and execute a Python script from the command line?

a) Open a text editor  and create a new file.
b) Write your Python code in the file. For example: Print( "Hello , World!")
c) Save the file with a .py extension. 
d) Open a command prompt (Windows) or terminal
e) Navigate to the directory where you saved your Python script using the cd command. For example, if the script is saved on the desktop, navigate to the desktop using 'cd Desktop'
f) Once you are in the correct directory, you can execute the Python script by typing python followed by the script's      filename and pressing Enter: "python hello.py"
g) The Python script will be executed, and you will see the output in the command prompt or terminal:

In [4]:
print("Hello, World!")

Hello, World!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [61]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print (sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number that consists of a real part and an imaginary part. It is written in the form "a + bi", where "a" represents the real part and "b" represents the imaginary part. The imaginary part is multiplied by the imaginary unit "i" (or "j" in some context)

In Python, complex numbers are represented using the complex data type. The imaginary part is denoted by a suffix of "j" or "J". The real and imaginary parts can be either integers or floating-point numbers. For example:

In [63]:
vindhya = 5+4j
print(vin)

(5+4j)

In [64]:
var8 = 8+2.5j
print(var8)

(8+2.5j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [65]:
age = 25

In this line of code, the variable 'age' is declared and assigned the value '25' using the assignment operator =. This line creates a variable named 'age' and assigns the integer value '25' to it.

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [66]:
price = 9.99
print(type(price))

<class 'float'>

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [43]:
name = "Sabreen"
print( name)

Sabreen

 Q10.Given the string "Hello, World!", extract the substring "World".

In [26]:
string = "Hello, World!"
substring = string[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [14]:
is_student = False